<div class="container information-anywhere">
	<div class="row">
		<div class="col-xs-10 col-sm-8">
			<h2>{{data.device.inventory.NAME}} ({{data.device.inventory.DESCR}})</h2>
		</div>
		<div class="col-xs-2 col-sm-4 text-right">
			<h3><span class="hidden-xs">Status: </span><span class="status good">&#9679;</span></h3>
		</div>
	</div>
	<!--<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h4>Log</h4>
			<div class="log" ng-bind="data.log"></div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h4>Config</h4>
			<div class="log" ng-bind="data.config"></div>
		</div>
	</div>-->
	<div class="row actions">
		<div class="col-xs-6">
			<a class="btn btn-info" ng-click="help()">Halp!</a>
		</div>
		<div class="col-xs-6 text-right">
			<a class="btn btn-warning">Reboot</a>
		</div>
	</div>

	<accordion close-others="true">
		<accordion-group heading="Inventory" is-open="true">
			<div ng-repeat="(key, value) in data.device.inventory">{{key}}: {{value}}</div>
		</accordion-group>
		<accordion-group heading="">

		</accordion-group>
		<accordion-group heading="SMX">
			<div ng-repeat="(key, value) in data.smx.WirelessClientLocation">{{key}}: {{value}}</div>
		</accordion-group>
		<accordion-group heading="Map">
			<div class="location">
				<div class="dot" style="bottom:{{locationY}}%;left:{{locationX}}%">&#9679;</div>
				<img ng-src="{{data.smx.WirelessClientLocation.MapInfo.Image.imageName}}" class="img-responsive">
			</div>
		</accordion-group>
	</accordion>
</div>