<div class="container information-anywhere">
	<div class="row">
		<div class="col-xs-10 col-sm-8">
			<h2>{{data.device.inventory.NAME}} ({{data.device.inventory.DESCR}})</h2>
		</div>
		<div class="col-xs-2 col-sm-4 text-right">
			<h3><span class="hidden-xs">Status: </span><span class="status good">&#9679;</span></h3>
		</div>
	</div>
	<div class="row actions">
		<div class="col-xs-6">
			<a class="btn btn-info" ng-href="{{helpUrl}}">Halp!</a>
		</div>
		<div class="col-xs-6 text-right">
			<a class="btn btn-warning" ng-click="reboot()">Reboot</a>
		</div>
	</div>

	<accordion close-others="true">
		<accordion-group heading="Inventory" is-open="true">
			<div ng-repeat="(key, value) in data.device.inventory">{{key}}: {{value}}</div>
		</accordion-group>
		<accordion-group heading="Version">
			<div style="white-space: pre;">
				{{data.device.version}}
			</div>
		</accordion-group>
		<accordion-group heading="MAC Table">
			<div style="white-space: pre;">
				{{data.device['mac-address-table']}}
			</div>
		</accordion-group>
		<accordion-group heading="CMX">
			<div ng-repeat="(key, value) in data.cmx.WirelessClientLocation">{{key}}: {{value}}</div>
		</accordion-group>
		<accordion-group heading="Map">
			<div class="location">
				<div class="dot" style="bottom:{{locationY}}%;left:{{locationX}}%">&#9679;</div>
				<img ng-src="{{data.cmx.WirelessClientLocation.MapInfo.Image.imageName}}" class="img-responsive">
			</div>
		</accordion-group>
	</accordion>
</div>