<div id="journal-context-menu">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 text-right">
				<div class="title" ng-class="{'searching':data.show}"><span>Journal</span></div>
				<div class="search-box">
					<div search-typeahead class="search"
					     ng-model="data.text"
					     autocomplete="autoComplete($query)"
					     search="search($query)"
					     ng-blur="closeSearch()"
					     focus-trigger="data.show"
					     ng-class="{'show-search':data.show}"></div>
				</div>
				<a ng-click="searchButtonClick($event)" class="context-button button-size">
					<span class="fa fa-search fa-lg"></span>
				</a>
				<a ng-click="showEmailHelp = !showEmailHelp | trackEvent:'Contextbar':'email'" href=""
				   class="context-button button-size hidden-xs" ng-class="{active:showEmailHelp}">
					<span class="fa fa-envelope-o fa-lg"></span>
				</a>
				<a ng-click="add() | trackEvent:'Contextbar':'Add'" href="" class="context-button button-size">
					<span class="fa fa-plus fa-lg"></span>
				</a>
			</div>
		</div>
	</div>
</div>

<div id="journal">
	<div class="first-time" bs-collapse ng-show="isFirstTime()">
		<div class="alert alert-info" role="alert" bs-collapse-target>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="alert-dismissible">
							<a href="" class="close" bs-collapse-toggle><span aria-hidden="true">&times;</span><span
									class="sr-only">Close</span></a>
							<h4>Introducing the new Journal</h4>

							<p>
								<strong>What's new</strong>
							<ul>
								<li>Improved tagging capabilities. Use tags to help you categories journal entries.
								</li>
								<li>Ability to add a title. By adding a title it can help you find entries faster.
								</li>
								<li>More advanced search. The search will now try and help you find what your looking
									for by
									prompting you with tags and titles you have used before.
								</li>
							</ul>
							</p>
							<p><strong>We would like to hear what you think. Please give <a href="{{feedbackline}}"
							                                                                target="_blank"
							                                                                class="btn btn-primary btn-xs">Feedback</a></strong>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="showEmailHelp" ng-show="showEmailHelp">
		<div class="alert alert-info" role="alert">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="alert-dismissible">
							<a href="" class="close" ng-click="showEmailHelp = false">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span>
							</a>
							<h5>Email Entry</h5>

							<p>
								You can add an entry to your journal via email with the subject [Journal], then your
								title. &nbsp;&nbsp;&nbsp;<a href="mailto:My Journal<{{dropboxEmail}}>?subject=[Journal]"
								                            class="btn btn-primary btn-sm">Try it out</a>
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-hide="online">
		<div class="alert alert-warning">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						You're offline
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" dr-window-infinite-scroll="showMore() | trackEvent:'Journal':'Show more using scroll'">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12" id="alerts-container">
					</div>
					<div ng-show="entries.length == 0 && !loadingEntries"
					     class="alert alert-info alert-dismissible">
						<strong>No journal entries matched your criteria <br></strong>
						To add a new journal entry click the <a class="btn btn-primary btn-sm sample-add"
						                                        ng-click="add()| trackEvent:'Context bar':'Add new journal' "><span
							class="fa fa-plus"></span></a>
						button in the top right hand corner.
					</div>
				</div>
				<div mosaic="entry in entries" class="mosaic row">
					<div journal-entry class="col-xs-12"
					     ng-model="entry"
					     tag-search="searchTags"
					     ng-click="edit(entry)"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="more" ng-show="more ">
					<a href="" class="btn btn-info"
					   ng-click="showMore() | trackEvent:'Journal':'Show more using button'" ng-hide="loadingEnteries">
						<i class="fa fa-plus-circle"></i> Show More
					</a>

					<div class="pageup-loader sm" ng-show="loadingEnteries"></div>
				</div>
			</div>
		</div>

	</div>
</div>

