<!DOCTYPE html>
<html ng-app="informationAnywhere">
<head>
    <meta charset="utf-8">
    <title>Information Anywhere</title>

  <style type="text/css">
      {{{ styles }}}
  </style>
  <script type="text/javascript">
      {{{ scripts }}}
  </script>
</head>
<body>
    {{{body}}}
</body>
</html>